.space {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    
}

.card {
    width: 300px;
    height: 300px;
    background-color: #ffffff;
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    -webkit-box-shadow: 1px 0px 30px 13px rgba(146, 146, 148, 0.6);
    -moz-box-shadow: 1px 0px 30px 13px rgba(146, 146, 148, 0.6);
    box-shadow: 1px 0px 30px 13px rgba(146, 146, 148, 0.6);
    border-radius: 10%;
    transition: 0.3s;
}

.card:hover {
  width: 320px;
  height: 320px;
    background-color: #ffffff;
    margin: 7px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    -webkit-box-shadow: 1px 0px 30px 13px rgba(146, 146, 148, 0.6);
    -moz-box-shadow: 1px 0px 30px 13px rgba(146, 146, 148, 0.6);
    box-shadow: 1px 0px 30px 13px rgba(146, 146, 148, 0.6);
    border-radius: 10%;
    transition: 0.3s;
}

.infos {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin-bottom: 10px;
  }

  span {
    font-weight: bold;
  }

  @media (max-width: 700px) {
    .cadastroSpace {
        background-color: rgb(255, 255, 255);
        width: 340px;
        height: 500px;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
    }

    .card {
      width: 250px;
      height: 250px;
      background-color: #ffffff;
      margin: 10px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      border-radius: 5px;
      -webkit-box-shadow: 1px 0px 30px 13px rgba(146, 146, 148, 0.6);
      -moz-box-shadow: 1px 0px 30px 13px rgba(146, 146, 148, 0.6);
      box-shadow: 1px 0px 30px 13px rgba(146, 146, 148, 0.6);
      border-radius: 10%;
      transition: 0.3s;
  }
  .card:hover {
    width: 250px;
    height: 250px;
  }
  

}